extends layout

block content
  h1= title
  p Welcome to #{title}
  p Rate Limiting applied to the /api/* routes i.e. 5 requests per minute
  div 
   input(type="text" id="searchInput")
   button(type="button" id="searchButton") Search
  div
   p(id="searchStatus")
   ul(id="searchResults")
  div
   p("id=errorStatus")


